# Configuration for wg-k8s wireguard VPN interface on beagle2.

[Interface]
Address = 172.27.0.1/16
ListenPort = 14137
PrivateKey = GNDgmOmA/WMGywp98Rm/higJScjD5eSI+hiLwrXglFM=

# saelli (kier's laptop)
[Peer]
PublicKey = WdBTqrW9gqyLAFj+J8brBeSS4XrjkWeDqPCBplNjazs=
AllowedIPs = 172.27.128.1/32

# coloris (kier's desktop)
[Peer]
PublicKey = vewA5H5pu55aK3Oqk/9cfcsu4iPHaIB2D9rlcnUSIR8=
AllowedIPs = 172.27.128.2/32

# kier-pixel4-202007
[Peer]
PublicKey = IAXs9c7Lh59ciMadcEXR1dB5XWaeLSw7I9i/QJlhf28=
AllowedIPs = 172.27.128.3/32

# coloris-win (kier's desktop, WSL2)
[Peer]
PublicKey = n7pk8RWQeozeDrBCrmYY3jTSB5lQBWnypkKhPfW8yTo=
AllowedIPs = 172.27.128.4/32
