# Configuration for wg-k8s wireguard VPN interface on beagle2.

[Interface]
Address = 172.27.0.1/16
ListenPort = 14137
PrivateKey = GNDgmOmA/WMGywp98Rm/higJScjD5eSI+hiLwrXglFM=

# saelli (kier's laptop)
[Peer]
PublicKey = WdBTqrW9gqyLAFj+J8brBeSS4XrjkWeDqPCBplNjazs=
AllowedIPs = 172.27.128.1/32
